<footer class="main-footer">
    <div class="container-fluid">
        <nav class="footer-menu">
            <ul class="footer-menu__list">
                <li class="footer-menu__list menu-item"><a href="product-1.html">Sprzątanie biur i mieszkań</a></li>
                <li class="footer-menu__list menu-item"><a href="product-2.html">Pranie dywanów i tapicerek</a></li>
                <li class="footer-menu__list menu-item"><a href="product-3.html">Pielęgnacja zieleni</a></li>
                <li class="footer-menu__list menu-item"><a href="about-us.html">O nas</a></li>
                <li class="footer-menu__list menu-item"><a href="news.html">Aktualności</a></li>
                <li class="footer-menu__list menu-item"><a href="contact.html">Kontakt</a></li>
            </ul>
        </nav>
        <aside class="main-footer-details">
            <span class="main-footer-details__copyrights">Copyright &#169; 2017 ShinePoint</span>
            <figure class="main-footer-details__created-by">
                <figcaption class="name-company">Created by
                    <img src="img/icon-footer.png" alt="footer-logo">
                </figcaption>
            </figure>
        </aside>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="http://localhost:35729/livereload.js?snipver=1"></script>