<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 logo">
                <figure>
                    <a href="/">
                                <img src="img/logo.svg" alt="logo">
                            </a>
                </figure>
                <div class="city-selector">
                    <select class="selectpicker">
                        <option value="Warszawa">Warszawa</option>
                        <option value="Lublin">Lublin</option>
                        <option value="Chełm">Chełm</option>
                    </select>
                </div>
            </div>
            <nav class="col-md-6 col-sm-6 main-menu {{navClass}}">
                <ul class="main-menu__list">
                    <li class="main-menu__list-item">
                        <a href="index.html">Start</a>
                    </li>
                    <li class="main-menu__list-item">
                        <a href="about-us.html">O nas</a>
                    </li>
                    <li class="main-menu__list-item">
                        <a href="news.html">Aktualności</a>
                    </li>
                    <li class="main-menu__list-item main-menu__list-item--has-submenu">
                        <a href="#">Usługi</a>
                        <ul class="sub-menu">
                            <li class="main-menu__list-item">
                                <a href="product-1.html">Sprzątanie biur i mieszkań</a>
                            </li>
                            <li class="main-menu__list-item">
                                <a href="product-2.html">Pranie dywanów i tapicerek</a>
                            </li>
                            <li class="main-menu__list-item">
                                <a href="product-3.html">Pielęgnacja zieleni</a>
                            </li>
                            <li class="main-menu__list-item">
                                <a href="product-other.html">Pozostałe</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-menu__list-item">
                        <a href="contact.html">Kontakt</a>
                    </li>
                </ul>
            </nav>
            <button class="hamburger-menu js-hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>