<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>
        ShinePoint
    </title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {{> partials/header}}
    <main class="main-content">
        <section class="common-header common-header--about-us">
            <div class="common-header__overlay"></div>
            <div class="container">
                <h1 class="common-header__title common-header__title--white">O nas</h1>
                <p class="common-header__description common-header__description--white">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure. praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
            </div>
        </section>
        <section class="about_us">
            <div class="container">
                <h1 class="about_us__title">Dlaczego my</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <figure class="about_us__icon">
                            <img src="img/about-us_icon-1.png" alt="logo">
                        </figure>
                        <h3 class="about_us__subtitle">Lorem ipsum</h3>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <figure class="about_us__icon">
                            <img src="img/about-us_icon-2.png" alt="logo">
                        </figure>
                        <h3 class="about_us__subtitle">Lorem ipsum</h3>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <figure class="about_us__icon">
                            <img src="img/about-us_icon-3.png" alt="logo">
                        </figure>
                        <h3 class="about_us__subtitle">Lorem ipsum</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{> partials/footer}}
</body>

</html>