<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>
        ShinePoint
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {{> partials/header}}
    <main class="main-content">
        <section class="contact-form">
            <div class="contact-form__overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="contact-form__title">Kontakt</h1>
                        <p class="contact-form__description">
                            Masz pytania lub chcesz złożyć zamówienie? Napisz do nas! My oddzwonimy!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form>
                            <input type="text" name="firstname" placeholder="Imię i nazwisko" required>
                            <input type="phone" name="lastname" placeholder="Numer telefonu" required>
                            <input type="email" name="yourmail" placeholder="Adres e-mail" required>
                            <textarea rows="10" cols="50" name="comment" placeholder="Treść wiadomości" required></textarea>
                            <input type="submit" value="Wyślij">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="contact-form__description">
                            Lub zadzwoń!
                        </p>
                        <p class="contact-form__number-phone">
                            <a href="+ 48 690 227 234">+ 48 690 227 234
                           
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{> partials/footer}}
</body>

</html>