<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>
        ShinePoint
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {{> partials/header}}
    <main class="main-site">
        <div class="container-fluid">
            <div class="row">
                <a href="product-1.html" class="product-category product-category--background-1 col-md-4 col-sm-12">
                    <article>
                        <div class="product-category__overlay product-category__overlay--orange"></div>
                        <figure class="product-category__icon">
                            <img src="img/home_icon-1.png" alt="logo" class="product-category__icon-image">
                            <img src="img/home_icon-1-hover.png" alt="logo" class="product-category__icon-hover-image">
                        </figure>
                        <h3 class="product-category__title">Sprzątanie<br> biur i mieszkań</h3>
                        <span class="product-category__view-more">zobacz › </span>
                    </article>
                </a>
                <a href="product-2.html" class="product-category product-category--background-2 col-md-4 col-sm-12">
                    <article>
                        <div class="product-category__overlay product-category__overlay--blue"></div>
                        <figure class="product-category__icon">
                            <img src="img/home_icon-2.png" alt="logo" class="product-category__icon-image">
                            <img src="img/home_icon-2-hover.png" alt="logo" class="product-category__icon-hover-image">
                        </figure>
                        <h3 class="product-category__title">Pranie dywanów <br> i tapicerek</h3>
                        <span class="product-category__view-more">zobacz › </span>
                    </article>
                </a>
                <a href="product-3.html" class="product-category product-category--background-3 col-md-4 col-sm-12">
                    <article>
                        <div class="product-category__overlay product-category__overlay--green"></div>
                        <figure class="product-category__icon">
                            <img src="img/home_icon-3.png" alt="logo" class="product-category__icon-image">
                            <img src="img/home_icon-3-hover.png" alt="logo" class="product-category__icon-hover-image">
                        </figure>
                        <h3 class="product-category__title">Pielęgnacja <br> zieleni</h3>
                        <span class="product-category__view-more">zobacz › </span>
                    </article>
                </a>
            </div>
        </div>
    </main>
    {{> partials/footer}}
</body>

</html>