<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>
        ShinePoint
    </title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {{> partials/header}}
    <main class="main-content">
        <section class="common-header common-header--details" style="background-image: url(http://shinepoint.pl/wp-content/uploads/2017/07/inne_uslugi_bg.jpg)">
            <div class="common-header__overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="common-header__title common-header__title--white">Pozostałe usługi</h1>
                        <div class="common-header__description common-header__description--white">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article class="main-services-list">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="main-services-list__title">W ofercie posiadamy również usługi takie jak:</h2>
                        <ul class="main-services-list__list">
                            <li class="main-services-list__list-item">Usuwanie oblodzeń na ciągach pieszych (ręczne i mechaniczne)</li>
                            <li class="main-services-list__list-item">Odśnieżanie cięgów pieszych (placów, ulic, parkingów, prywatnych posesji)</li>
                            <li class="main-services-list__list-item">Usuwanie nadmiaru śniegu i lodowych sopli /z tarasów, balkonów, dachów</li>
                            <li class="main-services-list__list-item">Mycie dachów</li>
                            <li class="main-services-list__list-item">Czyszczenie dachów</li>
                            <li class="main-services-list__list-item">Porządkowanie terenów, koszenie i wycinanie drzew, samosiejek, krzewów</li>
                            <li class="main-services-list__list-item">Porządkowanie działek</li>
                            <li class="main-services-list__list-item">Sprzątanie strychów i piwnic</li>
                            <li class="main-services-list__list-item">Odśnieżanie posesji i dachów</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </main>
    {{> partials/footer}}
</body>