<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>
        ShinePoint
    </title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {{> partials/header navClass="main-menu--green" logoPath="img/product-3_logo.svg"}}
    <main class="main-content">
        <section class="common-header common-header--details" style="background-image: url('img/product-3_background.jpg');">
            <div class="common-header__overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="common-header__title common-header__title--white">Pielęgnacja zieleni</h1>
                        <div class="common-header__description common-header__description--white">
                            <p>Przedstawiamy Państwu również ofertę na kompleksową pielęgnację zieleni zarówno wewnątrz jak i wokół nieruchomości. Do każdego zlecenia podchodzimy indywidualnie, dbając o każdy szczegół i przemyślaną kompozycję. Prace pielęgnacyjne wykonuje wykwalifikowana i doświadczona osoba, co gwarantuje utrzymanie dobrego zdrowia i efektownego wyglądu roślin. Czas realizacji, częstotliwość oraz zakres prac zależny jest od zapotrzebowania klienta.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article class="main-services-list">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="main-services-list__title">W zakresie usług pielęgnacji zieleni oferujemy:</h2>
                        <ul class="main-services-list__list">
                            <li class="main-services-list__list-item">doradztwo i projektowanie ogrodów, trawników, rabat kwiatowych, żywopłotów</li>
                            <li class="main-services-list__list-item">pielęgnacja całosezonowa terenów zieleni</li>
                            <li class="main-services-list__list-item">odchwaszczanie mechaniczne i chemiczne</li>
                            <li class="main-services-list__list-item">czyszczenie&nbsp;koron drzew z suchych i połamanych gałęzi</li>
                            <li class="main-services-list__list-item">ochrona przed szkodnikami i chorobami grzybowymi (opryski profilaktyczne i interwencyjne)</li>
                            <li class="main-services-list__list-item">nawożenie (dolistnie i doglebowo)</li>
                            <li class="main-services-list__list-item">cięcia roślin: sanitarne, formujące, prześwietlające, usuwanie kwiatostanów</li>
                            <li class="main-services-list__list-item">przycinanie drzew i żywopłotów</li>
                            <li class="main-services-list__list-item">zakładanie trawników (siewem lub z rolki)</li>
                            <li class="main-services-list__list-item">pielęgnacja trawnika (walcowanie, aeracja, wertykulacja, piaskowanie, nawożenie, regeneracja)</li>
                            <li class="main-services-list__list-item">koszenie trawnika</li>
                            <li class="main-services-list__list-item">nasadzenia drzew i krzewów</li>
                            <li class="main-services-list__list-item">dosadzanie roślin</li>
                            <li class="main-services-list__list-item">okrywanie roślin na zimę</li>
                            <li class="main-services-list__list-item">usuwanie trawy i chwastów z kostki brukowe</li>
                            <li class="main-services-list__list-item">sprzątanie liści</li>
                            <li class="main-services-list__list-item">wywóz drewna, gałęzi, odpadów ogrodniczych</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="services-list" style="background-image: url(x)">
            <div class="container">
                <h2 class="services-list__title">W zakresie usług pielęgnacji zieleni oferujemy:</h2>
                <ul class="category-services__list">
                    <li class="services-list__list-item">Projektowanie i realizacja - dobór roślin, donic, podłoża</li>
                    <li class="services-list__list-item">Nawadnianie i nawożenie</li>
                    <li class="services-list__list-item">Usuwanie obumarłych części roślin</li>
                    <li class="services-list__list-item">Nadawanie roślinom odpowiedniego pokroju</li>
                    <li class="services-list__list-item">Nadawanie roślinom odpowiedniego pokroju</li>
                    <li class="services-list__list-item">Zabiegi ochronne: opryski prewencyjne i interwencyjne środkami owado- i grzybobójczymi</li>
                    <li class="services-list__list-item">Uzupełnianie podłoża oraz przesadzanie roślin</li>
                    <li class="services-list__list-item">Doradztwo dotyczące doboru odpowiednich pojemników i stanowisk dla roślin oraz grupowania gatunków</li>
                </ul>
                <a href="/kontakt" class="btn pull-right">Więcej ›</a>
            </div>
        </article>
    </main>
    {{> partials/footer}}
</body>

</html>